# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/
.next/
.swc/

# production
/build
/dist

# misc
.DS_Store
*.pem
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# fonts (if you want to track them elsewhere)
# /app/fonts/
